<h1>LOgin</h1>
<% if (message.length > 0) { %>
    <div><%= message %></div>
<% } %>
<form action="/loginstu" method="POST">
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <button>Submit</button>
</form>