<h1>Register HERE</h1>
<% if (message.length > 0) { %>
    <div> <%= message %></div>
<% } %>
<form action="/register" method="POST">
    <input type="number" name="id" id="id">
    <input type="text" name="name" id="name" placeholder="name">
    <input type="text" name="email" id="email" placeholder="username">
    <input type="password" name="password" id="password" placeholder="password">
    <button type="submit">Submit</button>
</form>


<li><a href="/register"> REgister</a></li>
<li><a href="/login"> Login</a></li>
<li><a href="/logout"> Logout</a></li>
